<?xml version="1.0"?>
<!--
  davidbel/magento-ai-search by David Belicza
  SPDX-License-Identifier: MIT
  https://github.com/DavidBelicza/Magento-AI-Search
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="DavidBel_AiSearch::system_ai_search"
                              title="AI Search"
                              translate="title"
                              sortOrder="90">
                        <resource id="DavidBel_AiSearch::documents"
                                  title="Documents"
                                  translate="title"
                                  sortOrder="10"/>
                        <resource id="DavidBel_AiSearch::chunks"
                                  title="Chunks"
                                  translate="title"
                                  sortOrder="20"/>
                        <resource id="DavidBel_AiSearch::backlog"
                                  title="Backlog"
                                  translate="title"
                                  sortOrder="30"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="DavidBel_AiSearch::config_search_result"
                                      title="AI Search Result Configuration"
                                      translate="title"
                                      sortOrder="500"/>
                            <resource id="DavidBel_AiSearch::config_search_source"
                                      title="AI Search Source Configuration"
                                      translate="title"
                                      sortOrder="510"/>
                            <resource id="DavidBel_AiSearch::config_data_processing"
                                      title="AI Search Data Processing Configuration"
                                      translate="title"
                                      sortOrder="520"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
