<?xml version="1.0"?>
<!--
  davidbel/ai-search by David Belicza
  SPDX-License-Identifier: MIT
  https://github.com/DavidBelicza/Magento-AI-Search
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DavidBel\AiSearch\Api\Data\DocumentInterface"
                type="DavidBel\AiSearch\Model\Document"/>
    <preference for="DavidBel\AiSearch\Api\Data\ChunkInterface"
                type="DavidBel\AiSearch\Model\Chunk"/>
    <preference for="DavidBel\AiSearch\Api\Data\EmbeddingBacklogInterface"
                type="DavidBel\AiSearch\Model\EmbeddingBacklog"/>
    <preference for="DavidBel\AiSearch\Api\Data\DocumentSearchResultsInterface"
                type="DavidBel\AiSearch\Model\DocumentSearchResults"/>
    <preference for="DavidBel\AiSearch\Api\Data\ChunkSearchResultsInterface"
                type="DavidBel\AiSearch\Model\ChunkSearchResults"/>
    <preference for="DavidBel\AiSearch\Api\Data\EmbeddingBacklogSearchResultsInterface"
                type="DavidBel\AiSearch\Model\EmbeddingBacklogSearchResults"/>
    <preference for="DavidBel\AiSearch\Api\DocumentRepositoryInterface"
                type="DavidBel\AiSearch\Repository\DocumentRepository"/>
    <preference for="DavidBel\AiSearch\Api\ChunkRepositoryInterface"
                type="DavidBel\AiSearch\Repository\ChunkRepository"/>
    <preference for="DavidBel\AiSearch\Api\EmbeddingBacklogRepositoryInterface"
                type="DavidBel\AiSearch\Repository\EmbeddingBacklogRepository"/>
    <preference for="DavidBel\AiSearch\Api\EmbedderClientInterface"
                type="DavidBel\AiSearch\Client\Embedding\OpenAi"/>
    <virtualType name="DavidBel\AiSearch\Client\Embedding\HttpClient"
                 type="GuzzleHttp\Client"/>
    <type name="DavidBel\AiSearch\Client\Embedding\OpenAi">
        <arguments>
            <argument name="client"
                      xsi:type="object">DavidBel\AiSearch\Client\Embedding\HttpClient</argument>
        </arguments>
    </type>
    <type name="DavidBel\AiSearch\Workflow\DocumentProcessing\Chunking">
        <arguments>
            <argument name="chunkingStrategies" xsi:type="array">
                <item name="general"
                      xsi:type="object">DavidBel\AiSearch\Workflow\DocumentProcessing\Chunking\GeneralChunking</item>
            </argument>
        </arguments>
    </type>
</config>
