<?xml version="1.0"?>
<!--
  davidbel/magento-ai-search by David Belicza
  SPDX-License-Identifier: MIT
  https://github.com/DavidBelicza/Magento-AI-Search
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DavidBel\AiSearch\Api\Data\DocumentInterface"
                type="DavidBel\AiSearch\Model\Document"/>
    <preference for="DavidBel\AiSearch\Api\Data\ChunkInterface"
                type="DavidBel\AiSearch\Model\Chunk"/>
    <preference for="DavidBel\AiSearch\Api\Data\EmbeddingBacklogInterface"
                type="DavidBel\AiSearch\Model\EmbeddingBacklog"/>
    <preference for="DavidBel\AiSearch\Api\Data\DocumentSearchResultsInterface"
                type="DavidBel\AiSearch\Model\DocumentSearchResults"/>
    <preference for="DavidBel\AiSearch\Api\Data\ChunkSearchResultsInterface"
                type="DavidBel\AiSearch\Model\ChunkSearchResults"/>
    <preference for="DavidBel\AiSearch\Api\Data\EmbeddingBacklogSearchResultsInterface"
                type="DavidBel\AiSearch\Model\EmbeddingBacklogSearchResults"/>
    <preference for="DavidBel\AiSearch\Api\DocumentRepositoryInterface"
                type="DavidBel\AiSearch\Repository\DocumentRepository"/>
    <preference for="DavidBel\AiSearch\Api\ChunkRepositoryInterface"
                type="DavidBel\AiSearch\Repository\ChunkRepository"/>
    <preference for="DavidBel\AiSearch\Api\EmbeddingBacklogRepositoryInterface"
                type="DavidBel\AiSearch\Repository\EmbeddingBacklogRepository"/>
    <type name="DavidBel\AiSearch\Log\Handler">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/davidbel/ai-search.log</argument>
        </arguments>
    </type>
    <virtualType name="DavidBel\AiSearch\Log\MonologLogger"
                 type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">davidbel_ai_search</argument>
            <argument name="handlers" xsi:type="array">
                <item name="main" xsi:type="object">DavidBel\AiSearch\Log\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="DavidBel\AiSearch\Log\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">DavidBel\AiSearch\Log\MonologLogger</argument>
        </arguments>
    </type>
    <type name="DavidBel\AiSearch\Client\Embedding\Base\EmbedderClientPool">
        <arguments>
            <argument name="clients" xsi:type="array">
                <item name="openai_compatible"
                      xsi:type="object">DavidBel\AiSearch\Client\Embedding\OpenAi</item>
                <item name="google_gemini_native"
                      xsi:type="object">DavidBel\AiSearch\Client\Embedding\GoogleGemini</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="davidbel_ai_search_search_source/ai_server/api_key"
                      xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="davidbel_ai_search_search_source/ai_server/api_key"
                      xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="DavidBel\AiSearch\Ingestion\DocumentProcessing\DocumentUpdater\Chunking">
        <arguments>
            <argument name="chunkingStrategies" xsi:type="array">
                <item name="general"
                      xsi:type="object">
                    DavidBel\AiSearch\Ingestion\DocumentProcessing\DocumentUpdater\Chunking\GeneralChunking
                </item>
            </argument>
        </arguments>
    </type>
    <type name="DavidBel\AiSearch\Ingestion\DocumentProcessing\Parsing">
        <arguments>
            <argument name="parsingStrategies" xsi:type="array">
                <item name="textAsIs"
                      xsi:type="object">
                    DavidBel\AiSearch\Ingestion\DocumentProcessing\Parsing\TextAsIs
                </item>
                <item name="htmlToText"
                      xsi:type="object">
                    DavidBel\AiSearch\Ingestion\DocumentProcessing\Parsing\HtmlToText
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\OpenSearch\SearchAdapter\Mapper">
        <plugin name="davidbel_ai_search_semantic_query"
                type="DavidBel\AiSearch\Plugin\OpenSearch\SemanticQuery"/>
    </type>
    <type name="Magento\Config\Model\Config\Importer">
        <plugin name="davidbel_ai_search_config_import_indexer_invalidation"
                type="DavidBel\AiSearch\Plugin\Config\Importer\InvalidateProductIndexer"/>
    </type>
    <type name="Magento\Config\Console\Command\ConfigSet\ProcessorFacade">
        <plugin name="davidbel_ai_search_config_set_indexer_invalidation"
                type="DavidBel\AiSearch\Plugin\Config\ProcessorFacade\InvalidateProductIndexer"/>
    </type>
</config>
