# davidbel/ai-search by David Belicza
# SPDX-License-Identifier: MIT
# https://github.com/DavidBelicza/Magento-AI-Search

/.phpcs-cache
/.phpunit.cache/
/.phpunit.stress.cache/
/.phpstan.cache/
/auth.json
/composer.lock
/coverage/
/vendor/
**/.DS_Store
