<?xml version="1.0" encoding="UTF-8"?>
<!--
  davidbel/magento-ai-search by David Belicza
  SPDX-License-Identifier: MIT
  https://github.com/DavidBelicza/Magento-AI-Search
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="Test/Stress/bootstrap.php"
         cacheDirectory=".phpunit.stress.cache"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="AI Search Stress Reset">
            <file>Test/Stress/ResetTest.php</file>
        </testsuite>
        <testsuite name="AI Search Stress Dataset">
            <file>Test/Stress/DatasetCreationTest.php</file>
        </testsuite>
        <testsuite name="AI Search Stress Timeline One">
            <file>Test/Stress/TimelineOneTest.php</file>
        </testsuite>
        <testsuite name="AI Search Stress Timeline Two">
            <file>Test/Stress/TimelineTwoTest.php</file>
        </testsuite>
        <testsuite name="AI Search Stress Cleanup">
            <file>Test/Stress/CleanupTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
