<?xml version="1.0" encoding="UTF-8"?>
<!--
  davidbel/magento-ai-search by David Belicza
  SPDX-License-Identifier: MIT
  https://github.com/DavidBelicza/Magento-AI-Search
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <source>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>.phpstan.cache</directory>
            <directory>.phpunit.cache</directory>
            <directory>Test</directory>
            <directory>vendor</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="AiSearch Unit Tests">
            <directory suffix="Test.php">Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
