<?xml version="1.0"?>
<!--
  davidbel/magento-ai-search by David Belicza
  SPDX-License-Identifier: MIT
  https://github.com/DavidBelicza/Magento-AI-Search
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_davidbel_ai_search_semantic_search_source">
        <observer name="davidbel_ai_search_invalidate_product_indexer"
                  instance="DavidBel\AiSearch\Observer\Config\InvalidateProductIndexer"/>
    </event>
</config>
