<?xml version="1.0"?>
<!--
  davidbel/ai-search by David Belicza
  SPDX-License-Identifier: MIT
  https://github.com/DavidBelicza/Magento-AI-Search
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="davidbel" translate="label" sortOrder="500">
            <label>AI Search</label>
        </tab>
        <section id="davidbel_ai_search_search_result"
                 translate="label"
                 type="text"
                 sortOrder="500"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Search Result</label>
            <tab>davidbel</tab>
            <resource>DavidBel_AiSearch::config_search_result</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="request_timeout_seconds"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Request Timeout (Seconds)</label>
                    <validate>required-entry validate-number validate-greater-than-zero</validate>
                </field>
                <field id="use_previous_semantic_index_during_rebuild"
                       translate="label"
                       type="select"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Use Previous Semantic Index During Rebuild</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="search_relevance"
                   translate="label"
                   type="text"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Search Relevance</label>
                <field id="collapse_results_by_product"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Collapse Results by Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_result_limit"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Product Result Limit</label>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="minimum_score"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Minimum Score</label>
                    <validate>required-entry validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="embedding"
                   translate="label"
                   type="text"
                   sortOrder="30"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Embedding</label>
                <field id="embedder_query_template"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Embedder Query Template</label>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
        <section id="davidbel_ai_search_search_source"
                 translate="label"
                 type="text"
                 sortOrder="510"
                 showInDefault="1">
            <label>Search Source</label>
            <tab>davidbel</tab>
            <resource>DavidBel_AiSearch::config_search_source</resource>
            <group id="document_configuration"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1">
                <label>Document Configuration</label>
                <field id="enable_document_title"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       canRestore="1">
                    <label>Enable Document Title</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="document_title"
                       translate="label"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       canRestore="1">
                    <label>Document Title</label>
                    <source_model>DavidBel\AiSearch\Model\Config\Source\ProductAttribute</source_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable_document_title">1</field>
                    </depends>
                </field>
                <field id="documents"
                       translate="label"
                       sortOrder="30"
                       showInDefault="1"
                       canRestore="1">
                    <label>Documents</label>
                    <frontend_model>DavidBel\AiSearch\Block\Adminhtml\System\Config\Form\Field\Documents</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="enable_dynamic_document"
                       translate="label"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       canRestore="1">
                    <label>Enable Dynamic Document</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="dynamic_document"
                       translate="label"
                       sortOrder="50"
                       showInDefault="1"
                       canRestore="1">
                    <label>Dynamic Document</label>
                    <frontend_model>DavidBel\AiSearch\Block\Adminhtml\System\Config\Form\Field\DynamicDocument</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="enable_dynamic_document">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
